<section>
	<h3 style="font-family: 'Dosis', sans-serif; font-size:60px; margin-bottom: 0px;" class='titulin center'>FixterCamp#3</h3>

	<div class='containers'><hr style="color:black; size:3px">
	<div class='row'>
		<div class='col-lg-10 col-lg-offset-1 col-md-10 col-sm-12 col-xs-12'>
			<div class=' col-lg-12 col-md-12'>
				<div class=' cuadrado'>
					<div class='cubierta'>
						<div class='espacio'>
							
							<img class='instructor' src="/assets/fotos/bliss1-01.png">

							<h3 class='name'>Héctor Bliss</h3>
							<div class='hr'></div>
							<p class='puesto'>Fullstack Developer</p>
							<p class='paths'>
							En este curso aprenderas a crear una app Android desde 0, con Android2.0, con animaciones, con figuritas, y consumiendo database desde Firebase, pushNotificaciones, y consumo de API's.	
							</p></div>
					</div>	
				</div>
			</div>
		
			<div class='cursito'>
			<div class='col-lg-4 col-md-4 col-sm-12 col-xs-12'>
				<h4 class='way'>Mobile Apps Path</h4>
				<p class='fecha'>25 de Marzo al 13 de Abril</p>
			</div>
			<div class='col-lg-2 col-md-2 col-sm-3 col-xs-3'>
				<img class='path' src="/assets/camp/java-01.png">
				<p class='temas'>Java</p>
			</div>
			<div class='col-lg-2 col-md-2 col-sm-3 col-xs-3'>
				<img class='path' src="/assets/images/android-01.png">
				<p class='temas'>Android Studio</p>
			</div>
			<div class='col-lg-2 col-md-2 col-sm-3 col-xs-3'>
				<img class='path' src="/assets/camp/git-01.png">
				<p class='temas'>GitHub</p>
			</div>
			<div class='col-lg-2 col-md-2 col-sm-3 col-xs-3'>
				<img class='path' src="/assets/camp/fire-01.png">
				<p class='temas'>Firebase</p>
			</div>
</div></div>

		</div><hr style="color:black; size:3px">
	</div>
	<!-- <div class='clasificacion'>
  <h3 class='titulines'>Explorar Categorías</h3>
  <hr class='tall'>
  <div class='row' >
    <div class='col-md-3 col-md-offset-1 col-lg-3 col-lg-offset-1 col-sm-12 col-xs-12'>
        <div class="marco">
        <a class='cuadrado tagpadre'>
             <span class='label label-warning boxed2'>Tecnología</span>
        </a>
        </div>

        <div data-link="arte" >
        <div class='cuadrado1 tagpadre'>
         <span class='label label-warning boxed3'>Arte</span>
      </div>
        </div>

    </div>
    <div class='col-md-4 col-lg-4 col-sm-12 col-xs-12'> 

        <div class="marco-rectangulo">
        <div class='rectangulo tagpadre'>
          <span class='label label-warning boxed4'>Todas</span>
        </div>
        </div>

    </div>
    <div class='col-md-3 col-lg-3 col-sm-12 col-xs-12'>

        <div data-link="medio-ambiente" >
        <div class='cuadrado2 tagpadre'>
          <span class='label label-warning boxed3'>Medio Ambiente</span>
        </div>
        </div>

        <div data-link="diseno" class="marco">
        <div class='cuadrado3 tagpadre'>
         <span class='label label-warning boxed3'>Diseño</span>
      </div>
       </div>

    </div>
  </div>
</section> -->